body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

main {
    padding: 1rem;
}

form {
    margin-bottom: 2rem;
    background: white;
    padding: 1rem;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: .5rem;
}

form input, form button {
    padding: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #9b9898;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
